.Favorites {
  color: aliceblue;
}
.Favorites .fav-info {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
}
.Favorites .cards {
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  position: relative;
}
.Favorites .cards .fav-images {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Favorites .fav-title {
  font-size: large;
}
/* .Favorites .button {
  font-size: smaller;
  border: 1px solid whitesmoke;
  border-radius: 30px 30px;
  margin-left: 80px;
  padding: 5px;
}
.Favorites .xmark {
  position: absolute;
  font-size: 23px;
  margin-left: 10px;
} */

.Favorites .cards .fav-hover {
  position: absolute;
  font-weight: bold;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  margin: 0;
  opacity: 1;
  padding: 100px 0 35px 10px;
}
.Favorites .cards:hover .fav-hover {
  opacity: 1;
}
