body {
  background-color: #151a2d;
  opacity: 1;
  background-image: radial-gradient(#1b4a9b 0.75px, transparent 0.75px),
    radial-gradient(#1b4a9b 0.75px, #151a2d 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}
