.MovieCarousel {
  overflow: hidden;
  position: relative;
  color: aliceblue;
  cursor: grab;
}
.MovieCarousel .swiper {
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-bottom: 227px;
  user-select: none;
}

.MovieCarousel .swiper-slide {
  place-items: center;
  background-position: center;
  background-size: cover;
  width: 220px;
}

.MovieCarousel .swiper-slide .images {
  display: block;
  width: 100%;
  height: auto;
  -webkit-box-reflect: below 1px
    linear-gradient(transparent, transparent, #0002, #0004);
}

.MovieCarousel .info {
  position: absolute;
  padding-left: 10px;
  top: 11.5rem;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 9.2rem;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}
.MovieCarousel .titles {
  font-weight: bold;
  margin-top: 45px;
}
.MovieCarousel .titles .vote {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.MovieCarousel .vote {
  font-size: 13px;
  text-align: center;
  width: 33px;
  height: 19px;
  border-radius: 40px;
  box-shadow: rgba(251, 251, 251, 0.2) 0px 1px 5px 0px,
    rgba(251, 251, 251, 0.2) 0px 0px 0px 1px;
}
.MovieCarousel .swiper-slide:hover .info {
  opacity: 1;
}
.MovieCarousel .star {
  float: right;
  font-size: 10px;
  margin-right: -4px;
  margin-left: -8px;
  margin-top: -3px;
}
